.p-breadcrumb {
  letter-spacing: rem(1);
  margin-top: rem(12);
}


.p-breadcrumb__inner.l-inner {
  font-size: rem(16);
  padding: 0 rem(20);
  @include mq(md) {
    // padding: 0 rem(90);
    max-width: rem(1140);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-breadcrumb span:nth-child(n+2) {
  margin-left: rem(-4);
}

/* ホバー時、左から右へ下線 */
.p-breadcrumb a {
  position: relative;
}
.p-breadcrumb a::after {
  position: absolute;
  content: '';
  background: #ffea2e;
  width: 100%;
  height: 1px;
  bottom: rem(0);
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .4s;
  @include mq(md) {
    // bottom: rem(8);
  }
}
.p-breadcrumb a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}



.p-breadcrumb__items {
  // display: flex;
}

.p-breadcrumb__item {
  // position: relative;

  // & + & {
  //   margin-left: rem(20);
  // }
  // &:nth-child(n+2)::before {
  //   position: absolute;
  //   display: block;
  //   content: '>';
  //   top: 50%;
  //   left: rem(-12);
  //   transform: translateY(-50%);
  // }
}