.p-drawer-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  text-align: center;
  overflow-y: scroll;
  // z-index: 99;
  @include mq(md) {
    display: block;
    width: initial;
    height: inherit;
    left: initial;
    background-color: initial;
    position: initial;
  }
}

.p-drawer-menu__items {
  // padding-top: rem(209);
  // padding-bottom: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  @include mq(md) {
    padding-top: initial;
    padding-bottom: initial;
    display: flex;
    align-items: center;
    height: inherit;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
}

.p-drawer-menu__item + .p-drawer-menu__item {
    margin-top: rem(30);

  @include mq(md) {
    margin-top: 0;
    margin-left: rem(30);
    height: inherit;
  }
}


.p-drawer-menu__item a {
  display: inline-block;
  font-size: rem(16);
  letter-spacing: rem(2);
  height: inherit;
  position: relative;
  height: inherit;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p-drawer-menu__item a::after {
  position: absolute;
  content: '';
  background: #ffea2e;
  width: 100%;
  height: 1px;
  bottom: rem(0);
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .4s;
  @include mq(md) {
    bottom: rem(8);
  }
}
.p-drawer-menu__item a:hover:after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.p-drawer-menu__item a span {
  // height: inherit;
}


.p-drawer-menu__item:first-child {
  @include mq(md) {
    display: none;
  }
}
/* お問い合わせリンク */
.p-drawer-menu__item:last-child {
  transition: background .4s, color .4s;
  position: relative;
  overflow: hidden;
  @include mq(md) {
    color: #000;
    background: #fff;
  }
}
.p-drawer-menu__item:last-child.contactColor {
  background: #333;
  color: #fff;
  // transition: background .4s, color .4s;
}
.p-drawer-menu__item:last-child:hover {
  // background: #000;
  color: #fff;
  z-index: 1;
}
.p-drawer-menu__item:last-child::before {
  position: absolute;
  content: '';
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: ease .3s;
  // z-index: -1;
}
.p-drawer-menu__item:last-child:hover::before {
  transform: translateX(0);
  transition: ease .3s;
  // z-index: 0;
}
.p-drawer-menu__item:last-child a {
  padding: 0 rem(32);
  position: initial;
  @include mq(md) {
    padding: 0 rem(31);
  }
}
.p-drawer-menu__item:last-child a::after {
  background: none;
}
.p-drawer-menu__item:last-child span {
  position: relative;
  // height: inherit;
}
.p-drawer-menu__item:last-child span::after {
  position: absolute;
  content: '';
  background: #ffea2e;
  width: 100%;
  height: 1px;
  bottom: rem(-4);
  left: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .4s;
}
.p-drawer-menu__item:last-child:hover span::after {
  transform-origin: left top;
  transform: scale(1, 1);
  display: none;
}


