.p-products-explain-item {

}

.p-products-explain-item__title {
  font-size: rem(20);
  letter-spacing: calc( 0.4 / 20 * 1rem );
  line-height: calc(28 / 20);
  padding: rem(8) rem(24);
  border: 1px solid #FFF;
  border-radius: rem(32);
  display: inline-block;
  margin-left: rem(24);
  background-color: #111;
  @include mq(md) {
    margin-left: rem(38);
  }
}

.p-products-explain-item__text {
  font-size: rem(16);
  line-height: calc( 35 / 16);
  letter-spacing: rem(0.4);
  padding: rem(54) rem(10) rem(32);
  border: 1px solid #FFF;
  margin-top: rem(-23);
  @include mq(md) {
    padding: rem(44) rem(22) rem(31);
  }
}