.c-new-icon {
  text-transform: capitalize;
  position: relative;
  text-align: center;
  z-index: 1;
  color: #333;
  letter-spacing: rem(2);
  line-height: calc(35 / 16);
  top: rem(-5);
  left: rem(-5);
}

.c-new-icon::before {
  position: absolute;
  content: '';
  width: rem(60);
  height: rem(60);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFBA6A;
  border-radius: 50%;
  z-index: -1;
}